.header {
    &-top {
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #f4f4f4;
        background-color: white;
        padding-top: 5px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        margin: 0 auto;
    }

    @media (max-width: $screen-sm-max) {
        .header-top {
            padding-bottom: 5px;
        }
    }

    &-logo {
    	&__img {
    		max-width: 100%;	
    	}
    }

    @media (max-width: $screen-md-max) {
        .phone {
            display: none;
        }
    }

    &__phone {
        display: block;
        @include proxima-bold;
        font-size: 16px;
        letter-spacing: 0.14px;
        color: $other-black;
    }

    @media (max-width: $screen-lg-max) {
        .header__phone {
            display: flex;
            justify-content: center;
            // font-size: 18px;
        }
    }


    .nav {
        &__link {
            display: block;
            @include proxima-light;
            margin-right: 25px;
            letter-spacing: 0.14px;
            color: $other-black;
            font-size: 18px;
            transition: all .1s linear;
            &:hover {
                color: #c91111;
            }
        }
        .active {
            color: red;
        }

    }



    @media (min-width:$screen-md-min) and (max-width: $screen-md-max) {
        .nav__link {
            display: block;
            margin-top: 15px;
        }
    }

    @media (max-width: $screen-sm-max){
        .nav__link {
            margin-top: 10px;
            font-size: 20px;
            margin-right: 0;
        }
    }


    @media (max-width: $screen-sm-max) {
        .btn {
            display: none;
            justify-content: center;
        }
    }
    .btn {
        &__call {
            display: block;
            border-radius: 5px;
            border: none;
            background-color: #c91111;
            color: #ffffff;
            @include proxima-bold;
            font-size: 16px;
            line-height: 22px;
            padding: 10px 20px;
            transition: all .1s linear;

            &:hover {
                background-color: lighten(#c91111, 10%);
                color: black;
            }
        }

        @media (min-width:$screen-md-min) and (max-width: $screen-md-max) {
            .btn__call {
                display: none;
                font-size: 17px;
                padding: 20px 23px;
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 15px;
            }
        }
    }

    @media (max-width: $screen-sm-max) {
        .header-logo {
            text-align: center;
        }
    }

    &-bottom {
        padding-top: 17px;
        padding-bottom: 10px;
        margin-top: 55px;
        &__phone {
            a {
                text-align: right;
                display: block;
                color: $other-black;
                @include proxima-bold;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.18px;
            }
        }
    }

    @media (max-width: $screen-sm-max) {
        .header-bottom {
            padding-top: 0;
        }
    }

    @media (max-width: $screen-sm-max) {
        .header-bottom__phone a {
            display: block;
            text-align: center;
            margin-top: 10px;
        }
    }

    &-social {
        &__link {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid rgb(255, 25, 25);
            padding: 5px;
            text-align: center;
            margin: 0 auto;
            transition: all .2s linear;
            &:hover {
                background: #f3d9d9;
                border: 1px solid #f3d9d9;
                border-radius: 7px;
            }
        }
    }
    @media (max-width: $screen-md-max) {
        .header-social {
            text-align: center;
            margin-top: 10px;
        }
    }
}



.header-line {
    width: 100%;
    height: 2px;
    background-color: #050505;
}

.header-lawyer {
    text-align: center;
    color: $other-black;
    @include proxima-light;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.14px;
}

@media (min-width:$screen-md-min) and (max-width: $screen-md-max) {
    .header-lawyer {
        font-size: 20px;
        margin-left: 25px;
    }
}

@media (max-width: $screen-sm-max) {
    .header-lawyer {
        font-size: 20px;
        margin-top: 10px;
    }
}


