
.service {
	background-color: #f5f5f5;
	padding-top: 80px;
	min-height: 400px;

	&-wrap {

	}

	&-title {
		display: flex;
		justify-content: center;
		color: $other-black;
		@include proxima-bold;
		font-size: 30px;
		line-height: 22px;
		letter-spacing: 0.3px;
	}


	&-block {
		text-align: center;
		padding-top: 45px;
		
		&__text {
			padding-top: 30px;
			color: $other-black;
			@include proxima-light;
			font-size: 18px;
			line-height: 22px;
			letter-spacing: 0.16px;

			&--bottom {
				padding-top: 36px;
				color: $other-black;
				@include proxima-light;
				font-size: 18px;
				line-height: 22px;
				letter-spacing: 0.16px;
			}

			&--str {
				padding-top: 45px;
			}
		}
	}
}

@media (max-width: $screen-sm-max){
		.services-wrap__title {
			text-align: center;
		}
	}

