
.advantages {

	padding-top: 80px;
	padding-bottom: 80px;

	&-title {
		color: $other-black;
		@include proxima-bold;
		font-size: 30px;
		letter-spacing: 0.3px;
		line-height: 35px;
		text-align: center;
	}
}

.table {
	margin-bottom: 50px;

	&-title {
		text-align: center;

		&:last-child {
			border: 1px solid #e8e8e8;
			border-left: none;
			border-bottom: none;
		}

		&--green {
			background-color: #26b83a;
			color: $color-white;
			text-align: center;
		}

		&--black {
			color: $color-black;
			font-size: 14px;
			line-height: 45px;
			letter-spacing: 0.13px;
			text-align: center;
			padding-left: 18px;
			padding-right: 18px;
			border-right: 1px solid #e8e8e8;
		}


	}

	&-subtitle {

		@include proxima-regular;
		font-size: 14px;
		line-height: 45px;
		letter-spacing: 0.13px;
		padding-left: 45px;
		padding-right: 40px;
	}

	.title {
		color: $color-black;
		@include proxima-bold;
		font-size: 17px;
		line-height: 40px;
		letter-spacing: 0.14px;
		// padding-left: 15px;
		
		&--white {
			color:$color-white;
			font-size: 17px;
		}
	}
}

.row-title {
	display: block;
	text-align: right;
	margin-right: 30px;
	color: $color-black;
	@include proxima-regular;
	font-size: 16px;
	line-height: 45px;
	letter-spacing: 0.13px;
}

.bot {		
	border-bottom: 1px solid #e8e8e8;
}

.used-block {
	padding-top: 25px;

	&__title {
		color: $other-black;
		@include proxima-bold;
		font-size: 17px;
		letter-spacing: 0.16px;
	}

}

@media (max-width: $screen-md-max) {
	.used-block {
		display: block;
		text-align: center;
		margin: 0 auto;
	}

	.main-btn--follow {
		display: block;
		margin: 0 auto;
	}


}

.who-used {

		p {
			display: inline-block;
			color: $other-black;
			@include proxima-regular;
			font-size: 16px;
			line-height: 35px;
			padding-left: 20px;

			span {
				font-weight: 700;
				letter-spacing: 0.16px;
			}
		}
}

.main-btn--follow {
	margin-top: 20px;
	padding: 15px 85px;
	transition: all .2s ease;

	&:hover {
		background: red;
		color: $color-white;
	}
}