
.services-wrap {
    padding-bottom: 80px;
    padding-top: 100px;

    &__title {
        @include proxima-bold;
        font-size: 30px;
        line-height: 22px;
        letter-spacing: 0.3px;
        display: flex;
        justify-content: center;
    }
}

.service-block {
    margin-top: 75px;

   
}